Cap10-MVC/slnApp/App.UI.MVC/Connected Services/ReportesServices/ReportesServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5051/ReportesServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/App.Entities.Queries" />
  <xs:element name="GetTrackAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/App.Entities.Queries" minOccurs="0" name="GetTrackAllResult" nillable="true" type="q1:ArrayOfTrackAll" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>